.film-grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 12px;    
    margin-top: 12px;
    padding: 12px 24px;
}
@media (min-width: 768px) {
    .film-grid-container {
        grid-template-columns: auto auto auto;
        grid-column-gap: 24px;
        margin-top: 0;        
        padding: 12px 24px;
    }
}
.film-grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 24px;
    font-size: 24px;
    text-align: center;
    border-radius: 12px;
    text-align: center;
    margin: 16px 0px;
}
@media (min-width: 768px) {
    .film-grid-item {
        margin: 24px 0;
    }
}