.film-card {
    text-align: center;
    margin: 24px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    border-radius: 6px;
    border: 1px solid #dedede;
}
.image-container {
    width: 100%;
    padding: 16px 0;
}
.image {
    width: 240px;
    height: 350px;
}
.film-info {
    width: 100%;
    margin: 24px 0px;
}
