.film-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 24px;
    margin: 20px 0;
    padding: 0 24px;
}
@media (min-width: 768px) {
    .film-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 992px) {
    .film-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    .film-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
