body {
    background-color: transparent;
    margin: 0;
    padding-bottom: 32px;
}

h1, h2, h3, h4, h5, h6, p, ol, li, a {
    font-family: 'Roboto','Open Sans', sans-serif;
    margin: 0;
    color: #222;
}
.film-title {
    font-size: 24px;
    word-wrap: break-word;
}
.film-director {
    font-size: 20px;
}
.text {
    font-size: 16px;
}
